<div class="b-products">
  <div class="b-products__header">
    <div class="b-products__title">
      <p class="b-products__text">Listado de Productos ({{productList.length}})</p>
    </div>
    <div class="mode-select">
      <div class="mode-select__grid">
        <div (click)="showGrid()" class="mode-select__item mode-select__item--click">
          <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5 0V4H17V0H5ZM5 14H17V10H5V14ZM5 9H17V5H5V9ZM0 4H4V0H0V4ZM0 14H4V10H0V14ZM0 9H4V5H0V9Z"
              fill="#787885"/>
          </svg>
        </div>
        <div class="mode-select__item mode-select__item--selected">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H8V0H0V8ZM0 18H8V10H0V18ZM10 18H18V10H10V18ZM10 0V8H18V0" fill="#444444"/>
          </svg>
        </div>
      </div>
      <app-search-bar (searchBarEmitter)="searchBarChanges($event)"></app-search-bar>
    </div>
  </div>
  <div class="container b-products__container">
    <div class="row">
      <div class="col-sm-3" *ngFor="let product of productList">
      <app-article [product]="product"></app-article>
      </div>
    </div>
  </div>
</div>
